.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background: white;
}
.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  padding: 5px 10px;
  border-radius: 6px;
  background: #f6f6f6;
  gap: 20px;
  cursor: pointer;
}

.sidebar-item img {
  width: 25%;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 82%;
  left: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  width: 200px; /* Ajuste conforme necessário */
}

.dropdown-content a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
@media (max-width: 800px) {
  .sidebar {
    padding: 30px 0px;
    flex-direction: row;
    width: 100%;
    max-width: none;
    height: auto;
    justify-content: center;
  }
  .sidebar-item {
    margin: 0;
  }
}
